* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'flex';
    src: url('../fonts/flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
    font-weight: '400';
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&display=swap');

@font-face {
    font-family: 'flexspec';
    src: url('../fonts/flex/static/RobotoFlex/RobotoFlex-Regular.ttf');
    font-weight: '400';
}

@font-face {
    font-family: 'mont';
    src: url('../fonts/monts/Montserrat-Bold.ttf');
    font-weight: '700';
}

@font-face {
    font-family: 'mont';
    src: url('../fonts/monts/Montserrat-SemiBold.ttf');
    font-weight: '600';
}


@font-face {
    font-family: 'mont';
    src: url('../fonts/monts/Montserrat-Medium.ttf');
    font-weight: '500';
}

@font-face {
    font-family: 'mont';
    src: url('../fonts/monts/Montserrat-Regular.ttf');
    font-weight: '400';
}

@font-face {
    font-family: 'big';
    src: url('../fonts/big/BigShouldersInlineText-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'bel';
    src: url('../fonts/special/Belarus-Regular\(+bel\).otf');
    font-weight: 400;
}


.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
    font-family: 'mont';
    color: white;
}

a {
    text-decoration: none;
}

.swiper__container {
    max-width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.swiper-section-image {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.swiper-section {
    position: relative;
    height: 100vh;
    width: 100%;
}

.swiper-section-nextSlide {
    position: absolute;
    left: 50%;
    bottom: 10rem;
    transform: translateX(-50%);
    transition: .3s;
}

.swiper-section-scroll {
    cursor: pointer;
    padding: 5rem;

}

.swiper-section-nextSlide:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}


.section-logo {
    width: 100%;
    max-width: 25.68rem;
    margin: 0 auto;
}

.intro-section .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 10rem;
}

.intro-section {
    width: 100%;
    padding: 11.8rem 0;
    display: flex;
}

.intro-text-about {
    font-size: 6rem;
    line-height: 8.4rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.intro-card-about {
    font-size: 3rem;
    font-weight: 500;
    line-height: 4.4rem;
    color: white;

}

.intro-cards {
    display: flex;
}

.intro-card-icon {
    width: 10rem;
    height: 10rem;
    transition: .3s;
    opacity: 0.5;
}

.intro-card {
    width: 100%;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    flex-direction: column;
}

.intro-card:hover .intro-card-icon {
    opacity: 1;
}

.projects-section {
    width: 100%;
    height: 100vh;
    background: url('../img/projects-back.jpg') no-repeat center center / cover;
    position: relative;
}

.projects-title {
    font-size: 15rem;
    line-height: 15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.projects-section .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 10rem;
    z-index: 3;
    position: relative;
}

.projects-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.58) 100%);
}

.hamid {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.hamid-content {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10rem;
}

.hamid-content-type {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 400;
    font-family: 'flex';
}

.hamid-content-image {
    width: 100%;
    max-width: 115rem;
}

.hamid-videos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hamid-content-name {
    font-size: 26rem;
    font-weight: 400;
    line-height: 25rem;
    font-family: 'flex';
}

.secondary-hamid {
    background: url('../img/hamid-zulfiya-bottom.jpg') no-repeat center center / cover;
    width: 100%;
    height: 100vh;
}

.secondary-hamid .container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.secondary-hamid-name {
    font-size: 10rem;
    line-height: 16rem;
    font-family: 'flexspec';
    font-weight: 700
}

.secondary-hamid-about {
    width: 100%;
    font-size: 4rem;
    line-height: 6rem;
}

.secondary-watch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    line-height: 5rem;
    color: black;
    column-gap: 2rem;
    padding: 3rem 7rem;
    background: white;
    transition: .3s
}

.vision {
    height: 100vh;
    width: 100%;
    position: relative;
}

.vision .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: calc(100vh / 10);
}

.vision::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.7945378835127801) 75%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 20%;
    z-index: -1;
}

.vision::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.7945378835127801) 75%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 50%;
}

.vision-title {
    font-size: 22rem;
    line-height: 22rem;
    font-family: 'big';
    text-transform: uppercase;
    font-weight: 400;
    z-index: 2;
    width: 100%;

}

.vision-whatis {
    font-size: 4rem;
    line-height: 6rem;
}

.vision-image {
    object-fit: contain;
    width: 100%;
    transform: scale(1.5);
    position: relative;
    z-index: -1
}

.vision-bottom {
    width: 100%;
    height: 100vh;
    position: relative;
}

.vision-bottom::after {
    content: '';
    position: absolute;
    background: url('../img/new-vision-bottom.png') no-repeat center center / contain;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -3;
}

.vision-bottom::before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 101.44%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.vision-highlight {
    position: absolute;
    width: 75vw;
    height: 75vh;
    bottom: -25vh;
    left: -25vw;
    background: goldenrod;
    filter: blur(275px);
    border-radius: 50%;
    opacity: 0.5;
    z-index: -2;
}

.vision-bottom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6rem;
    padding: 10rem 0;
}

.vision-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
}

.vision-card {
    cursor: pointer;
    padding: 2rem;
}

.vision-card-icon {
    width: 10rem;
    height: 10rem;
}

.vision-card-name {
    font-size: 2rem;
    line-height: 3rem;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: .5rem;
}

.vision-bottom-text {
    font-size: 15rem;
    line-height: 15rem;
    text-transform: uppercase;
    font-family: 'big';
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.vision-bottom-about {
    font-size: 4rem;
    line-height: 6rem;
    width: 100%;
    text-align: center;
}

.legend {
    position: relative;
    padding: 10rem 0;
    width: 100%;
    height: 100vh;
}

.legend::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.09) 50%);
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.legend-text-title {
    font-size: 20rem;
    line-height: 20rem;
    text-align: start;
    font-weight: 700;
    font-family: 'Roboto Flex', sans-serif;
    position: relative;
    z-index: 2;
}

.legend .container {
    max-width: 100%;
    padding: 0 10rem;
}

.legend-texts {
    width: 100%;
    text-align: start;
}

.legend-text-sponsor {
    width: 50%;
    position: absolute;
    bottom: 10rem;
}

.legend-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mySwiper2 .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 1rem;
    width: 10rem !important;
    height: 10rem !important;
    left: unset !important;
    right: 0 !important;
    bottom: 0 !important;
    top: unset !important;
    backdrop-filter: blur(10px);
}

.swiper-button-prev {
    right: 10rem !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.dance {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/intro-legend.png') no-repeat center center / cover;
}



.dance .secondary-watch {
    width: max-content;
    margin: 0 auto;
}

.dance-title {
    font-size: 9rem;
    line-height: 9rem;
    font-weight: 600;
}

.dance-about {
    width: 100%;
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.sadoqat {
    height: 100vh;
    width: 100%;
    background: url('../img/sadoqat-top.jpg') no-repeat center center / cover;
    position: relative;
}

.sadoqat::after {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sadoqat .container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.sadoqat-texts {
    font-size: 30rem;
    line-height: 30rem;
    font-weight: 400;
    font-family: 'bel';
    text-transform: uppercase;
    position: relative;
    z-index: 2
}

.mySwiper3 .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sadoqat-bottom {
    height: 100vh;
    width: 100%;
    background: url('../img/sadoqat-bottom.png') no-repeat center center / cover;
    position: relative;
}

.sadoqat-bottom::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.sadoqat-bottom a {
    width: max-content;
    margin: 0 auto;
}

.sadoqat-bottom .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.bottom-title {
    font-size: 15rem;
    line-height: 15rem;
    font-family: 'bel';
    font-weight: 400;
    text-transform: uppercase;
}

.bottom-about {
    margin: 6rem 0;
    font-size: 4rem;
    line-height: 6rem;
}

.personal {
    width: 100%;
    height: 100vh;
}

.personal .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.personal-title {
    width: 100%;
    text-align: center;
    font-size: 8rem;
    line-height: 10rem;
    text-transform: uppercase;
    font-weight: 700;
}

.person-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 3rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    width: 40rem;
    height: 45rem;
    cursor: pointer;
    transition: .3s;
}

.person-card:hover {
    background: rgba(255, 255, 255, 0.2);
}

.person-job {
    font-size: 2rem;
    line-height: 3rem;
}

.person-card-circle {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 50%;
}

.person-card-image {
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 20rem;
    width: 20rem;
}
.person-name {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    padding-top: 3rem;
}
.person-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8rem;
    margin-top: 10rem;
    position: relative;
    margin-bottom: 10rem;
}

.footer {
    height: 100vh;
    width: 100%;
}

.footer .container {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.footer-image {
    width: 100%;
    max-width: 23.9rem;
}

@import './media.css';